<div id="<%= dom_id employ %>">
  <p>
    <strong>Name:</strong>
    <%= employ.name %>
  </p>

  <p>
    <strong>Cnic:</strong>
    <%= employ.cnic %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= employ.status %>
  </p>

</div>
