<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Cnic:</strong>
    <%= user.cnic %>
  </p>

  <p>
    <strong>Cstatus:</strong>
    <%= user.cstatus %>
  </p>

</div>
